@import "../scss/common/html";
@import "../scss/common/header";
@import "../scss/common/about_us";
@import "../scss/common/footer";

.about {
  display: flex;
  flex-direction: column;

  &_video {
    text-align: center;
  }

  &_options {
    display: flex;
    flex-direction: column;
    margin-left: 5%;

    &_image {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      & > div {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        & > p {
          font-family: Archivo;
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 2.4px;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
  }

  &_restaurant {
    margin-left: 1rem;
  }
}
